useDynLib(IRanges)

import(methods)
import(stats) ## for the "start", "end" and "update" generics

exportClasses(
    XInteger, XIntegerViews,
    IRanges, UnlockedIRanges, LockedIRanges, NormalIRanges,
    MaskCollection
)

export(
    ## Non-generic functions:
    sapplyLength,
    #XInteger.read, XInteger.write, XNumeric, XNumeric.read, XNumeric.write,
    XInteger,
    newEmptyNormalIRanges,
    IRanges,
    asNormalIRanges,
    intToRanges,
    intToAdjacentRanges,
    whichAsRanges,
    slice,
    toNormalIRanges,
    summaryIRangesList,
    MaskCollection.show_frame,
    Mask,
    read.gapMask,
    read.agpMask,
    read.liftMask,
    read.rmMask,
    read.trfMask,

    ## Generic functions:
    width,
    isNormal,
    whichFirstNotNormal,
    isEmpty,
    "start<-",
    "width<-",
    "end<-",
    shift,
    restrict,
    narrow,
    reduce,
    gaps,
    reverse,
    coverage,
    nir_list,
    active, "active<-",
    maskedwidth, maskedratio,
    subject, views, subviews, trim,
    XIntegerViews,
    viewMins, viewMaxs, viewSums,

    ## Aliases:
    desc, "desc<-",

    ## Deprecated generics:
    first, last
)

exportMethods(
    ## Methods for generics defined elsewhere:
    initialize,
    coerce,
    show,
    length,
    names, "names<-",
    "[", "[<-",
    duplicated,
    rep,
    start,
    end,
    max,
    min,
    as.data.frame,
    as.matrix,
    update,
    append,

    ## Methods for generics defined in this package:
    width,
    isNormal,
    whichFirstNotNormal,
    isEmpty,
    "start<-",
    "width<-",
    "end<-",
    shift,
    restrict,
    narrow,
    reduce,
    gaps,
    reverse,
    coverage,
    nir_list,
    active, "active<-",
    maskedwidth, maskedratio,
    subject, views, subviews, trim,
    XIntegerViews,
    viewMins, viewMaxs, viewSums,

    ## Deprecated methods:
    first, last
)

